<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-6">
            </div>
            <div class="col-xl-6 text-right">
                <button *ngIf="!fromVendorSignUp" type="button" mat-button (click)="backButton()">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>
<form [formGroup]="bankDetailForm">
    <div class="form-group">
        <!-- Password-->
        <label class="control-label" for="password">Bank Name</label>
        <div class="controls">
            <input
            type="text"
            class="form-control"
            formControlName="bankName"
            placeholder=""
            />
        </div>
    </div>
    <div class="form-group">
        <!-- Password-->
        <label class="control-label" for="password">Account number</label>
        <div class="controls">
            <input
            type="text"
            class="form-control"
            formControlName="accountNumber"
            placeholder=""
            />
        </div>
    </div>
    <div class="form-group">
        <!-- Password-->
        <label class="control-label" for="password">IFSC Code</label>
        <div class="controls">
            <input
            type="text"
            class="form-control"
            formControlName="ifscCode"
            placeholder=""
            />
        </div>
    </div>
    <div class="form-group">
        <!-- Password-->
        <label class="control-label" for="password">Account Type</label>
        <div class="controls">
            <select
            type="text"     
            class="form-control"
            formControlName="accType"
            placeholder=""
            >
            <option value="SAVING" >SAVING</option>
            <option value="COMPANY" >COMPANY</option>
            <option value="RDA" >RD</option>
        </select>
            
        </div>
    </div>                
</form>

