<div class="container" >
    <div class="row my-5" >
      <div class="col-12 col-md-12">
        <div class="ordder_heading">
          <h4>My Return </h4>
        </div>
      </div>
    </div>
  
   
    <div class="row" >
      <div class="col-12 col-md-12">
        <table class="table table-striped">
          <thead class="thead-default">
            <tr>
               <th>Return Id</th>
                <th>Product Name</th>
                <th>Return Date</th>
                <th>Reason</th>
                <th>Order Price</th>
                 <th>Status</th>
                <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let return of returnList">
              <td>{{ return.returnId }}</td>
                <td>{{ return.variantName }}</td>
                
                <td>{{ return.returnAuthorizeDate | date }}</td>
                <td>{{ return.reason }}</td>
                <td>{{ return.orderProductPrice }}</td>
                <td>{{ return.status }}</td>
                <td>
                  <button class="btn actionBtn" >
                    View Details
                  </button>                 
                  
                </td>
              </tr>
              <tr *ngIf="returnList && returnList.length ==0 ">
                <td scope="row">No record found</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  

  </div>