<div class="form-card text-center">
    <h3 class="congoHead">Congratulation! Your order has been processed</h3>
    <p class="mt-3 mb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus a. Ut eu tincidunt neque. Proin 
        porttitor id ligula id placerat. Integer nec nulla varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat 
        tellus vel purus interdum euismod.
    </p>
    <button type="button" class="cart-btn">Return To Shop</button>
    </div>