#mymenu3{
	a{
		border-right:1px solid #eee;
		padding:0 0.4rem;
		// font-weight: 700;
	}
}
.v_inventory{
	.v_inventor_heading{
		a{
			border-right:1px solid #eee;
		padding:0 0.8rem;
		margin-top:1.5rem;
		}
	}
	.v_inventory_btn{
		button{
			padding: 0.35rem;
			font-weight: 500;
			&:hover{
				background: aliceblue;
			}
		}
	}
	.v_inventory-serch{
		@extend .v_inventory_btn;
		.v_srch_btn{
			padding: 0.6rem;
			background: rgba(0,0,0,0.9);
			color:#fff;
			&:hover{
				background: rgba(0,0,0,1);
			}
		}
	}
	.v_filter-sec{
		span{
		color:$greycolor;
		}
		i{
			font-size: 0.85rem
		}
		button{
			padding: 0.3rem;
			background: rgba(0,0,0,0.9);
			color:#fff;
			&:hover{
				background: rgba(0,0,0,1);
			}
		}
	}
}