<div class="tab-pane fade show active text-capitalize" id="tab1">
    <div  class="row">
      <div class="col-md-8 offset-md-2">
        <div class="pro_inner py-3">
          <div class="row">
            <div class="col-md-12">
              <p class="py-3"></p>
              <p class="alert alert-info text-capitalize">
                <i class="far fa-question-circle"></i>
                <b> When multiple sellers sell the same product through a single detail page, we combine and present the best product data to ensure customers get the best experience</b>
              </p>
              <form [formGroup]="_editProduct.productForm" (ngSubmit)="onSubmit()" class="custom">
                <div class="row " *ngIf="_editProduct.selectedVariation.length==0">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Product ID
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-4 col-10">
                    <div class="form-group" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                      <input type="text" formControlName="variantCode" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.variantCode?.errors }" />
                      <div *ngIf="submitted && f.variantCode?.errors" class="invalid-feedback">
                        <div *ngIf="f.variantCode?.errors.required">Product Code is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-10">
                    <div class="form-group" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                      <select formControlName='productIdType' id="" class="custom-select">
                        <option value="ASIN">UPC</option>
                        <option value="UPC">UIN</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 col-2 col-2">
                    <i class="fas fa-lock py-2"></i>
                  </div>
                </div>
                <div class="row pr-5" *ngIf="_editProduct.selectedVariation.length==0">
                  <div class="col-md-4">
                      
                  </div>
                  <div class="col-md-8">
                    <p >To list your products you require a unique identifier for your product such as UPC, EAN, or GCID. You can request exemptions to list products that do not have standard product IDs for certain categories. </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Product Name
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" formControlName="productName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.productName?.errors }" />
                      <div *ngIf="submitted && f.productName?.errors" class="invalid-feedback">
                        <div *ngIf="f.productName?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
                
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      SKU
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" formControlName="sku" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.sku?.errors }" />
                      <div *ngIf="submitted && f.sku?.errors" class="invalid-feedback">
                        <div *ngIf="f.sku?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      M.S.R.P
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" formControlName="manufacturerSuggesstedPrice" type="number" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.manufacturerSuggesstedPrice?.errors }" />
                      <div *ngIf="submitted && f.manufacturerSuggesstedPrice?.errors" class="invalid-feedback">
                        <div *ngIf="f.manufacturerSuggesstedPrice?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Standard Price
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number"  formControlName="displayPrice" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.displayPrice?.errors }" />
                      <div *ngIf="submitted && f.displayPrice?.errors" class="invalid-feedback">
                        <div *ngIf="f.displayPrice?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Sale Price
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" formControlName="salesPrice" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.salesPrice?.errors }" />
                      <div *ngIf="submitted && f.salesPrice?.errors" class="invalid-feedback">
                        <div *ngIf="f.salesPrice?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Sale Start Date
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="date" formControlName="salesStartDate" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.salesStartDate?.errors }" />
                      <div *ngIf="submitted && f.salesStartDate?.errors" class="invalid-feedback">
                        <div *ngIf="f.salesStartDate?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Sale end date
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="date" formControlName="salesEndDate" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.salesEndDate?.errors }" />
                      <div *ngIf="submitted && f.salesEndDate?.errors" class="invalid-feedback">
                        <div *ngIf="f.salesEndDate?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Sale Quantity
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" formControlName="salesQuantity" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.salesQuantity?.errors }" />
                      <div *ngIf="submitted && f.salesQuantity?.errors" class="invalid-feedback">
                        <div *ngIf="f.salesQuantity?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
                <div class="row" *ngIf="_editProduct.selectedVariation.length==0" [formGroup]="_editProduct.productVariantDTO.controls[0].controls.productVariant">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Quantity
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" formControlName="totalQuantity" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.totalQuantity?.errors }" />
                      <div *ngIf="submitted && f.totalQuantity?.errors" class="invalid-feedback">
                        <div *ngIf="f.totalQuantity?.errors.required">
                          Product Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
  
        
                <div class="row">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Brand Name
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" formControlName="brandName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.brandName?.errors }" />
                      <div *ngIf="submitted && f.brandName?.errors" class="invalid-feedback">
                        <div *ngIf="f.brandName?.errors.required">Brand is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label for="" class="float-md-right">
                      <i class="fas fa-star mr-2"></i>
                      Manufacturer
                      <i class="far fa-question-circle ml-2"></i>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" formControlName="manufacturer" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.manufacturer?.errors }" />
                      <div *ngIf="submitted && f.manufacturer?.errors" class="invalid-feedback">
                        <div *ngIf="f.manufacturer?.errors.required">
                          Manufacturer is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>