<ul class="navbar-nav mr-auto">
            
    <li class="nav-item active">
      <a class="nav-link" href="#">home <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">shop</a>
        <div class="mega-menu-list">
            <ul class="category-mega-menu">
                <li> <b> All Collectoin </b> </li>
                <li> <a href="#"> Most Popular </a> </li>
                <li> <a href="#"> Best Sellers </a> </li>
                <li> <a href="#"> Bedding Bundles </a> </li>
                <li> <a href="#"> Towel Bundles </a> </li>
                <li> <a href="#"> Curtains </a> </li>
                <li> <a href="#"> Linen </a> </li>
                <li> <a href="#"> Loungewar </a> </li>
            </ul>
            <ul class="category-mega-menu">
                <li> <b> Bath </b> </li>
                <li> <a href="#"> Towels </a> </li>
                <li> <a href="#"> Towels Bundles </a> </li>
                <li> <a href="#"> Super Plush </a> </li>
                <li> <a href="#"> Mid Plush </a> </li>
                <li> <a href="#"> Ultralight </a> </li>
                <li> <a href="#"> Hammam </a> </li>
                <li> <a href="#"> Bath Rugs </a> </li>
                <li> <a href="#"> Robes </a> </li>
            </ul>
        </div>                  
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">comforters</a>
      <div class="mega-menu-list">
        <ul class="category-mega-menu">
            <li> <b> Filler </b> </li>
            <li> <a href="#"> Down </a> </li>
            <li> <a href="#"> Wool </a> </li>
            <li> <a href="#"> Silk </a> </li>
            <li> <a href="#"> Down Alternative </a> </li>
        </ul>
        <ul class="category-mega-menu">
            <li> <b> Warmness </b> </li>
            <li> <a href="#"> Light </a> </li>
            <li> <a href="#"> Medium </a> </li>
            <li> <a href="#"> Warm </a> </li>
        </ul>
        <ul class="category-mega-menu">
            <li> <b> Warmness </b> </li>
            <li> <a href="#"> Single </a> </li>
            <li> <a href="#"> Twin </a> </li>
            <li> <a href="#"> Full </a> </li>
            <li> <a href="#"> Queen </a> </li>
            <li> <a href="#"> King </a> </li>
            <li> <a href="#"> Super King </a> </li>
        </ul>
    </div>        
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">bedding</a>
      <div class="mega-menu-list">
        <ul class="category-mega-menu">
            <li> <b> Clothes </b> </li>
            <li> <a href="#"> Back In Stock Clothes </a> </li>
            <li> <a href="#"> Dresses </a> </li>
            <li> <a href="#"> Tops & Tees </a> </li>
            <li> <a href="#"> Sweatshirts </a> </li>
            <li> <a href="#"> Sweaters </a> </li>
            <li> <a href="#"> Kimonos </a> </li>
            <li> <a href="#"> Kackets </a> </li>
        </ul>
        <ul class="category-mega-menu">
            <li> <b> Fabric </b> </li>
            <li> <a href="#"> All </a> </li>
            <li> <a href="#"> Cotton </a> </li>
            <li> <a href="#"> Linen </a> </li>
            <li> <a href="#"> Bamboo </a> </li>
            <li> <a href="#"> Modal </a> </li>
        </ul>
        <ul class="category-mega-menu">
            <li> <b> Type </b> </li>
            <li> <a href="#"> Hand Towels </a> </li>
            <li> <a href="#"> Bath Towels </a> </li>
            <li> <a href="#"> Women Bathrobes </a> </li>
            <li> <a href="#"> Men Bathrobes </a> </li>
            <li> <a href="#"> Bath Mat </a> </li>
        </ul>
    </div> 
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">sale</a>
      <div class="mega-menu-list">
        <ul class="category-mega-menu">
            <li> <a href="#"> New Sale </a> </li>
            <li> <a href="#"> All Sale </a> </li>
            <li> <a href="#"> Featured Sale </a> </li>
            <li> <a href="#"> Sale Dresses </a> </li>
            <li> <a href="#"> Sale Tops </a> </li>
            <li> <a href="#"> Sale Sweatres </a> </li>
        </ul>
        <ul class="category-mega-menu">
            <li> <a href="#"> Sale Jackets & Outerwear </a> </li>
            <li> <a href="#"> Sale Bottoms </a> </li>
            <li> <a href="#"> Sale Intimates </a> </li>
            <li> <a href="#"> Sale Accessories </a> </li>
            <li> <a href="#"> Sale Shoes </a> </li>
            <li> <a href="#"> Sale Bags </a> </li>
        </ul>
        <ul class="category-mega-menu">
            <li> <a href="#"> Sale Beauty & Wellness </a> </li>
            <li> <a href="#"> Sale FP Movement </a> </li>
            <li> <a href="#"> Sale Swim </a> </li>
            <li> <a href="#"> Sale FP Beach & Endless Summer </a> </li>
            <li> <a href="#"> Sale Under $19.95 </a> </li>
            <li> <a href="#"> Sale Sport </a> </li>
        </ul>

        <ul class="category-mega-menu">
            <li> <a href="#"> Sale Under $29.95 </a> </li>
            <li> <a href="#"> Sale Under $49.95 </a> </li>
            <li> <a href="#"> Sale Under $59.95 </a> </li>
            <li> <a href="#"> Sale Under $69.95 </a> </li>
            <li> <a href="#"> Sale Under $89.95 </a> </li>
        </ul>
    </div> 
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">gifts</a>
    </li>                       
    
  </ul>