
    <div class="product-item">
        <!--Product Img-->
        <div class="product-item-img">
            <!--Image-->
            <a class="product-item-img-link" (click)="openPage()">
                <img  [src]="product.mainImageUrl" onError="this.src='../../../../assets/img/bathrug.jpg'">
            </a>
            <!--Add to Link-->
            <div class="add-to-link" (click)="addToCart()">
                <a class="btn addToCart">Add To Cart</a>
            </div>
            <!--Hover Icons-->
            <div class="hover-product-icon">
                <div class="product-icon-btn-wrap">
                    <a  data-toggle="tooltip" data-placement="left" title="" data-original-title="Quick View"><i class="fas fa-search"></i></a>
                    <a *ngIf="_userService.isAuthenticated && !addingToWishlist" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to Whishlist" (click)="addToWishlist()"><i class="far fa-heart"></i></a>
                    <a *ngIf="_userService.isAuthenticated && addingToWishlist" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to Whishlist" (click)="removeFromWishList()"><i class="fas fa-heart"></i></a>
                    <!-- <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to Compare"><i class="ti-reload"></i></a> -->
                </div>
            </div>
        </div>
        <!--Product Content-->
        <div class="product-item-content">
            <div class="tag"><a href="#">Minimal</a></div>
            <a (click)="openPage()" class="product-item-title"><span>{{  product.product.productName  }}</span></a>
            <p class="product-item-price">
                <span class="product-price-amount">
                    {{ product.actualPrice|currencyFormat }}
                </span>
            </p>
            <div class="product-rating">
                <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                    <span style="width: 60%"></span>
                </div>
                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
            </div>
            <p class="product-description">
                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
            </p>
        </div>
    </div>
