

    .sideMenuList {
        list-style-type: none;
    
        li {
            padding: 10px 0px;
            &:last-child {
                border-bottom: none;
            }
            a{
                text-decoration: none;
                text-transform: capitalize;
                color: #f2f2f2;
                &.router-link-active {
                    color: #ffffff;
                    font-weight: 600;
                }
            }
            &:first-child{
                padding-top: 20px !important;
            }
        }
    }


