<form [formGroup]="vitalInfo" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="email">Product Code</label>
            <input type="text" formControlName="productCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCode?.errors }" />
            <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                <div *ngIf="f.email?.errors.required">Product Code is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Product Name</label>
            <input type="text" formControlName="productName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productName?.errors }" />
            <div *ngIf="submitted && f.productName?.errors" class="invalid-feedback">
                <div *ngIf="f.productName?.errors.required">Product Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Brand</label>
            <input type="text" formControlName="brandName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.brandName?.errors }" />
            <div *ngIf="submitted && f.brandName?.errors" class="invalid-feedback">
                <div *ngIf="f.brandName?.errors.required">Brand is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Manufacturer</label>
            <input type="text" formControlName="manufacturer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.manufacturer?.errors }" />
            <div *ngIf="submitted && f.manufacturer?.errors" class="invalid-feedback">
                <div *ngIf="f.manufacturer?.errors.required">Manufacturer is required</div>
            </div>
        </div>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>