.sec-padding-t {
    padding-top: 90px;
}
.page-head {
    text-align: center;
    display: block;
}
.page-head, .page-title {
    margin-bottom: 34px;
}
.page-head .page-sub-title, .page-sub-title {
    margin-bottom: 2px;
    display: block;
}
.page-head .page-title, .page-head .page-lead, .page-head p {
    margin-bottom: 0;
}