<!-- <owl-carousel #owlElement [options]="options" [carouselClasses]="['owl-theme', 'row', 'sliding', 'carousel_1']">
    <div class="slide" *ngFor="let img of allImages">
        <img [src]="img" alt="product_image" onError="this.src='../../../../assets/img/bathrug.jpg'">
    </div>
</owl-carousel> -->


<ul class="hl-product">
    <li class="leftproduct">
      <img src="../../../../assets/img/bathrug.jpg" alt="" />
      <img src="../../../../assets/img/bathrug.jpg" alt="" />
      <img src="../../../../assets/img/bathrug.jpg" alt="" />
      <!-- <img src="../../../../assets/img/bathrug.jpg" alt="" />
      <img src="../../../../assets/img/bathrug.jpg" alt="" /> -->
    </li>
    <li class="mainProduct">
      <img src="../../../../assets/img/bathrug.jpg" alt="" />
    </li>
  </ul>