

<div class="container" >
    <div class="row my-5" >
      <div class="col-12 col-md-12">
        <div class="ordder_heading">
          <h4> Wallet Amount:{{walletDetails?.amount}} </h4>
        </div>
      </div>
    </div>
</div>


<div class="container" >
    <div class="row my-5" >
      <div class="col-12 col-md-12">
        <div class="ordder_heading">
          <h4> Outgoing Transactions </h4>
        </div>
      </div>
    </div>
  
   
    <div class="row" >
      <div class="col-12 col-md-12">
        <table class="table table-striped">
          <thead class="thead-default">
            <tr>
                <th>Transaction Id</th>
                <th>Order Id</th>
                <th>Amount</th>
                <th>Receiver</th>
                <th>Status</th>
                <th>Order Date</th>
                
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of outgoingTransactionList">
                <td>TRANSACTION-{{ transaction.id }}</td>
                <td>ORDER-{{ transaction.orderId }}</td>
                
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.reciever }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.createdDate | date }}</td>
                
              </tr>
              <tr *ngIf="outgoingTransactionList && outgoingTransactionList.length ==0 ">
                <td scope="row">No record found</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  

  </div>



  
<div class="container" >
    <div class="row my-5" >
      <div class="col-12 col-md-12">
        <div class="ordder_heading">
          <h4> Incoming Transactions </h4>
        </div>
      </div>
    </div>
  
   
    <div class="row" >
      <div class="col-12 col-md-12">
        <table class="table table-striped">
          <thead class="thead-default">
            <tr>
                <th>Transaction Id</th>
                <th>Order Id</th>
                <th>Amount</th>
                <th>Sender</th>
                <th>Status</th>
                <th>Order Date</th>
                
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of incomingTransactionList">
                <td>TRANSACTION-{{ transaction.id }}</td>
                <td>ORDER-{{ transaction.orderId }}</td>
                
                <td>{{ transaction.amount  }}</td>
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.createdDate | date }}</td>
                
              </tr>
              <tr *ngIf="incomingTransactionList && incomingTransactionList.length ==0 ">
                <td scope="row">No record found</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  

  </div>
