<div class="row productView m-auto">
    <div class="col-md-3">
        <img [src]="product?.mainImageUrl" alt="" srcset="">
    </div>
    <div class="col-md-9 text-right">
        <h4>{{ product?.variantName }}</h4>
        <p>ProductID: {{ product?.uniqueprodvarId }}</p>
        <p>{{ product?.longDescription }}</p>
        <p>Price: {{ product?.displayPrice | currencyFormat }}</p>
    </div>
    <div class="col-md-12 link_col pb-0" >
        <div class="row align-items-center m-auto">
            <div class="col-md-6 text-left p-0">
                <p *ngIf="product.generatedLink" class="mb-0">Generated Link: {{ product?.generatedLink }} </p> 
            </div>
            <div class="col-md-6 text-right p-0" (click)="generateLink()">
                <button>Generate Link</button>
            </div>
        </div>
    </div>
</div>
