<div class="row productView m-auto">
    <div class="col-md-3">
        <img src="../../../../assets/images/GP-Global-Logo.png" alt="" srcset="">
    </div>
    <div class="col-md-9 text-right">
        <h4>Product Name</h4>
        <p>product Description</p>
        <p>Product Price : $320</p>
    </div>
    <div class="col-md-12 link_col" >
        <div class="row align-items-center m-auto">
            <div class="col-md-6 text-left">
                <p class="mb-0">Generated Link : 'https://www.youtube.com/' </p> 
            </div>
            <div class="col-md-6 text-right">
                <button>Generate Link</button>
            </div>
        </div>
    </div>
</div>
