    <!-- <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-6 text-right">
                    <button *ngIf="!fromVendorSignUp" type="button" mat-button (click)="backButton()">
                        Back
                    </button>
                </div>
            </div>
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div class="row pt-3">
                    <div class="col-xl-12 pb-3">
                        <div class="shadow bg-white plr-15 pt-3 pb-3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 pt-2 pb-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Address One*</mat-label>
                                        <input matInput formControlName="addressOne" id="name"
                                            [ngClass]="{ 'is-invalid': submitted && f.addressOne.errors }">

                                        <mat-error ngxErrors="addressForm.addressOne" [ngClass]="['dirty', 'touched']">
                                            Enter valid address one
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 pt-2 pb-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Address Two*</mat-label>
                                        <input matInput formControlName="addressTwo" id="name"
                                            [ngClass]="{ 'is-invalid': submitted && f.addressTwo.errors }">

                                        <mat-error ngxErrors="addressForm.addressTwo" [ngClass]="['dirty', 'touched']">
                                            Enter valid address two
                                        </mat-error>
                                    </mat-form-field>
                                </div>


                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 pt-2 pb-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Zip*</mat-label>
                                        <input matInput formControlName="zip" id="name"
                                            [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">

                                        <mat-error ngxErrors="addressForm.zip" [ngClass]="['dirty', 'touched']">
                                            Enter valid address one
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 pt-2 pb-2">
                                    <fieldset formGroupName="country">

                                    <mat-form-field appearance="outline">
                                        <mat-label>Country</mat-label>
                                         <mat-select (selectionChange)="countryOnChange($event.value)"   [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" placeholder="id" class="common" matInput required formControlName="id"  >
                                       
                                            <mat-option [value]="country.id" *ngFor="let country of countryList">{{country.countryName}}</mat-option>

                                    </mat-select>
                                
                                        <mat-error ngxErrors="addressForm.zip" [ngClass]="['dirty', 'touched']">
                                            Enter valid address one
                                        </mat-error>
                                    </mat-form-field>
                                    </fieldset>
                                </div>


                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 pt-2 pb-2">
                                    <fieldset formGroupName="state">

                                    <mat-form-field appearance="outline">
                                        <mat-label>State</mat-label>
                                         <mat-select (selectionChange)="stateOnChange($event.value)"   [ngClass]="{ 'is-invalid': submitted && f.zip.errors }"placeholder="id" class="common" matInput required formControlName="id"  >
                                         <mat-option [value]="state.id" *ngFor="let state of stateList">{{state.stateName}}</mat-option>

                                    </mat-select>
                                
                                        <mat-error ngxErrors="addressForm.zip" [ngClass]="['dirty', 'touched']">
                                            Enter valid address one
                                        </mat-error>
                                    </mat-form-field>
                                    </fieldset>
                                </div>


                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 pt-2 pb-2">
                                    <fieldset formGroupName="cite">

                                    <mat-form-field appearance="outline">
                                        <mat-label>City</mat-label>
                                         <mat-select    [ngClass]="{ 'is-invalid': submitted && f.zip.errors }"placeholder="id" class="common" matInput required formControlName="id"  >
                                         <mat-option [value]="city.id" *ngFor="let city of cityList">{{city.cityName}}</mat-option>

                                    </mat-select>
                                
                                        <mat-error ngxErrors="addressForm.zip" [ngClass]="['dirty', 'touched']">
                                            Enter valid address one
                                        </mat-error>
                                    </mat-form-field>
                                    </fieldset>
                                </div>


                           

                               
                               

                            </div>

                        </div>

                    </div>
                </div>
                <div class="row" *ngIf="action=='add' || action == 'edit'">
                    <div class="col-md-12 text-right pt-2 pb-2">
                        
                        <button mat-raised-button [disabled]="!addressForm.valid" id="saveRole"
                            >SAVE
                        </button>
                    </div>
                </div>
                
            </form>
        </div>
    </div> -->