
<div class="filter_block">
    <div class="filter mb-5" *ngFor="let filter of _productService.preparedFilters">
        <div class="filter_header">
            <h4>{{ filter.name }}</h4>
        </div>
        <div class="filter_checkbox" *ngFor="let item of filter.value" (click)="changeStatus(item)">
            <input type="checkbox" [name]="item.name" [id]="item.name" [value]="item.checked" [checked]="item.checked">
            <label [for]="item.name">{{ item.name }}</label>
        </div>
    </div>
    <div>
        <button type="button" name="" id="" class="btn btn-primary" (click)="applyFilter()" btn-lg btn-block>Apply</button>
    </div>
</div>