<div  *ngIf="addressDetails && addressDetails.length > 0" class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="blank_space"></div>      
      </div>
      <div class="col-sm-12">
          <h4>Add Address</h4>      
      </div>
      <div class="col-sm-4 pdBtm">
        <div  class="add_address">
          <div class="address_icon">
            <i class="material-icons">
              add
              </i>
          </div>
        </div>
      </div>
      <div  *ngFor="let address of addressDetails" class="col-sm-4 pdBtm">
        <div class="currunt_address">
          <div class="currunt_address_detail">
              <p>Address: {{ address.addressOne }} {{ address.addressTwo }} </p>
              <p>City : {{ address?.cite?.cityName }} {{ address?.zip}} </p>
              <p>State : {{ address?.state?.stateName }} </p>
              <p>Country : {{ address?.country?.countryName }} </p>
          </div>
          <div class="currunt_address_footer">
            <!-- <a class="currunt_address_footer_Link brR" >Edit</a> -->
            <a class="currunt_address_footer_Link" (click)="deleteAddressDetails(address)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  

  