<footer>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
               <img src="../../../assets/img/footer-logo.jpg" class="footer-logo">
               <p class="address-des-ffot"> Handloom is a Mulltipurpose
                Ecommerce Template, The spread of
                computers and layout programmes
                thus made dummy text better known</p> 
                <a href="#" class="email_contact"> +42(0) 1234567890 </a>
                <a href="#" class="email_contact"> sales@handloom.com </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row">

                    <div class="col-md-12 col-md-4 col-lg-4 col-xl-4">
                        <h5 class="footer-title-12"> Information </h5>
                        <ul class="use-full-list1">
                            <a href="#"> About Us </a>
                            <a href="#"> Contact Us </a>
                            <a href="#"> Blog </a>
                            <a href="#"> My Account </a>
                            <a href="#"> Wishlist </a>
                        </ul>
                    </div>

                    <div class="col-md-12 col-md-4 col-lg-4 col-xl-4">
                        <h5 class="footer-title-12"> Usefull Links </h5>
                        <ul class="use-full-list1">
                            <a href="#"> Privacy Policy </a>
                            <a href="#"> Shipping Information </a>
                            <a href="#"> Terms & Condition </a>
                            <a href="#"> Cart </a>
                            <a href="#"> Checkout </a>
                            <a href="#"> Order Tracking </a>
                        </ul>
                    </div>

                    <div class="col-md-12 col-md-4 col-lg-4 col-xl-4">
                        <h5 class="footer-title-12"> Our Link </h5>
                        <ul class="use-full-list1">
                            <a href="#"> Bath </a>
                            <a href="#"> Comforters </a>
                            <a href="#"> Bedding </a>
                            <a href="#"> Contact Us </a>
                            <a href="#"> Gifts </a>
                            <a href="#"> Accessories </a>
                            <a href="#"> Fabric </a>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <h5 class="footer-title-12"> Information </h5>
                <p class="news-letter-test"> Sign up for our newsletter to get the
                    latest news, announcements and special</p>
                <div class="input-group-newst">
                    <input type="email" class="input-email" placeholder="Email Address">
                    <button type="submit" class="go-btn">GO</button>
                </div>  
                <ul class="social-media-icon-list1">
                    <a href="#"> <i class="fab fa-facebook-square"></i> </a>
                    <a href="#"> <i class="fab fa-twitter-square"></i> </a>
                    <a href="#"> <i class="fab fa-linkedin"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                </ul>  
             </div>

        </div>
    </div>
</footer>

<section id="bottom-foot">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <p class="copyright-main-list"> 	&#9400; 2019 Handloom Shop, Designed By <a href="#" target="_blank"> Dzign5 </a> </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="assets/img/payment_logos.png" class="right-btn-list4785">
            </div>
        </div>
    </div>
</section>