.varientName {
    background: #fff;
    color: #27af9a;
    border: 1px solid #27af9a;
    // box-shadow: 0 0 15px rgba(46, 45, 51, 0.2);
    margin-right: 10px;
    padding: 5px 30px;
    border-radius: 50px;
}

.selected {
    color: #fff;
    background-color: #27af9a;
}