<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
        <div class="h-100 d-md-flex align-items-center auth-side-img">
            <div class="col-sm-10 auth-content w-auto">
                <div class="gpLogo">
                    <img src="../../../../../assets/images/GP-Global-LogoWhite.png" alt="Urban Style Decor"
                        class="img-fluid">
                </div>
                <h1 class="text-white my-4">Welcome Back!</h1>
                <h4 class="text-white font-weight-normal">Sign-in to your account.</h4>
            </div>
        </div>
        <div class="auth-side-form">
            <login (onLogin)="onSubmit($event)"></login>
        </div>
    </div>
</div>