@media (max-width: 575.98px) { 
	.product-add-sec #tab2 .second-btn button {
	
	margin-bottom: 1rem;
}
.product-add-sec #tab2 table select {
	width: 150px;
}
.product-add-sec #tab2 input {
	width: 150px;
}
.product-add-sec #tab2 table .input-group input {
	width: 150px;
}
.custom {
	padding: 1rem;
}
.input-group-text {

	padding: .375rem 0.25rem;
	display: none;
	font-size: 0.65rem;

}
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
	.custom {
	padding: 1rem;
}
.input-group-text {

	padding: .375rem 0.25rem;
	display: none;
	font-size: 0.65rem;

}
.product-add-sec #tab2 .second-btn button {
	
	margin-bottom: 1rem;
}
.product-add-sec #tab2 table select {
	width: 150px;
}
.product-add-sec #tab2 input {
	width: 150px;
}
.product-add-sec #tab2 table .input-group input {
	width: 150px;
}
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
	.main-head p.display-4 {
	font-size: 1.7rem;
}
.main-head a span {
	font-size: 0.65rem;
}
#topbar2 {
	margin-left: 3rem;
}
.product-add-sec #tab2 .second-btn button {
	font-size: 11px;
}
.product-add-sec .custom label {
	font-size: 0.65rem;
}
.input-group-text {

	padding: .375rem 0.25rem;
	display: none;
	font-size: 0.65rem;

}

.product-add-sec .img-up {
	padding: 1rem;
}

.product-add-sec #tab2 table select {
	width: 150px;
}
.product-add-sec #tab2 input {
	width: 150px;
}
.product-add-sec #tab2 table .input-group input {
	width: 150px;
}
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
	.navbar-nav.text-capitalize span {
    font-size: 0.65rem;
}
#topbar2 {
	margin-left: 18rem;
}
.product-add-sec .img-up {
	padding: 2.7rem;
}
.input-group-text {

	padding: .375rem 0.25rem;
	display: none;
	font-size: 0.65rem;

}
.product-add-sec #tab2 table select {
	width: 150px;
}
.product-add-sec #tab2 input {
	width: 150px;
}
.product-add-sec #tab2 table .input-group input {
	width: 150px;
}
 }

@media (min-width: 1200px) { 
	.navbar-nav.text-capitalize span {
    font-size: 0.65rem;
}
 }