<section id="product-listing">
    <div class="container">

        <div class="page-head">
            <span class="page-sub-title">See Our Products</span>
            <h2 class="page-title">{{ title }}</h2>
        </div>
       
        <!-- <div _ngcontent-rtg-c5="" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2 _ngcontent-rtg-c5="" class="feature-about">{{ title }}</h2>
        </div> -->

        <!-- <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-12">
                <section class="customer-logos slider">

                    <owl-carousel #owlElement [options]="options"
                        [carouselClasses]="['owl-theme', 'row', 'sliding', 'carousel_1']">

                        <div class="slide">
                            <div class="main-slide-1-img"> <img src="../../../assets/img/product/1.jpg"> </div>
                            <div class="main-product-name">
                                <h6 class="product-name-pro"> Down Comforter </h6>
                                <h4 class="product-name-prices"> $199.00 </h4>
                                <h6 class="actucal-prices"> %299.00 </h6>
                                <a href="#" class="cart-btn-main"> Buy Now </a>

                            </div>
                            <ul class="main-icon-product-slider-list">
                                <a href="#"> <i class="far fa-heart"></i> </a>
                                <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                            </ul>
                        </div>

                        <div class="slide">
                            <div class="main-slide-1-img"> <img src="../../../assets/img/product/2.jpg"> </div>
                            <div class="main-product-name">
                                <h6 class="product-name-pro"> Down Comforter </h6>
                                <h4 class="product-name-prices"> $199.00 </h4>
                                <h6 class="actucal-prices"> %299.00 </h6>
                                <a href="#" class="cart-btn-main"> Buy Now </a>

                            </div>
                            <ul class="main-icon-product-slider-list">
                                <a href="#"> <i class="far fa-heart"></i> </a>
                                <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                            </ul>
                        </div>

                        <div class="slide">
                            <div class="main-slide-1-img"> <img src="../../../assets/img/product/3.jpg"> </div>
                            <div class="main-product-name">
                                <h6 class="product-name-pro"> Down Comforter </h6>
                                <h4 class="product-name-prices"> $199.00 </h4>
                                <h6 class="actucal-prices"> %299.00 </h6>
                                <a href="#" class="cart-btn-main"> Buy Now </a>

                            </div>
                            <ul class="main-icon-product-slider-list">
                                <a href="#"> <i class="far fa-heart"></i> </a>
                                <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                            </ul>
                        </div>

                        <div class="slide">
                            <div class="main-slide-1-img"> <img src="../../../assets/img/product/4.jpg"> </div>
                            <div class="main-product-name">
                                <h6 class="product-name-pro"> Down Comforter </h6>
                                <h4 class="product-name-prices"> $199.00 </h4>
                                <h6 class="actucal-prices"> %299.00 </h6>
                                <a href="#" class="cart-btn-main"> Buy Now </a>

                            </div>
                            <ul class="main-icon-product-slider-list">
                                <a href="#"> <i class="far fa-heart"></i> </a>
                                <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                            </ul>
                        </div>

                        <div class="slide">
                            <div class="main-slide-1-img"> <img src="../../../assets/img/product/5.jpg"> </div>
                            <div class="main-product-name">
                                <h6 class="product-name-pro"> Down Comforter </h6>
                                <h4 class="product-name-prices"> $199.00 </h4>
                                <h6 class="actucal-prices"> %299.00 </h6>
                                <a href="#" class="cart-btn-main"> Buy Now </a>

                            </div>
                            <ul class="main-icon-product-slider-list">
                                <a href="#"> <i class="far fa-heart"></i> </a>
                                <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                            </ul>
                        </div>
                    </owl-carousel>

                </section>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <section class="customer-logos slider">
                    <product-carousel [productList]="fratureProductList"></product-carousel>
                </section>
            </div>
        </div>

    </div>
</section>