<!-- <div class="container">
    <div class="row">
        <div class="prodct-item-element col-sm-6 col-md-4" *ngFor="let item of wishlist">
             <productCard2 [product]="item.productVariant"></productCard2> 

        </div>        
    </div>
</div> -->


<div class="container" >
    <div class="row my-5" >
      <div class="col-12 col-md-12">
        <div class="ordder_heading">
          <h4>My Wishlist </h4>
        </div>
      </div>
    </div>
  
   
    <div class="row" >
      <div class="col-12 col-md-12">
        <table class="table table-striped">
          <thead class="thead-default">
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Added Date</th>
                
                <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wish of wishlist">
                <td><img [src]="wish.productVariant.mainImageUrl" alt="image"/></td>
                
                <td>{{ wish.productVariant.variantName }}</td>
                <td>{{ wish.productVariant.displayPrice }}</td>
                <td>{{ wish.createdDate | date }}</td>
                <td>
  
                  <button class="btn actionBtn" (click)="softDeleteWishlist(wish.id)">
                    Delete
                  </button>
                </td>
              </tr>
              <tr *ngIf="wishlist && wishlist.length ==0 ">
                <td scope="row">No record found</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  

  </div>