<div class="form-group">
  <label for=""></label>
  <select [value]="selectedProductType" class="form-control" (change)="onChange($event.target.value)" name="" id="" placeholder="select product type">
    <option  value="" disabled> Select Product type </option>
    <option value="SIMPLE"> Simple Product </option>
    <option value="ADVANCE"> Advance Product </option>
  </select>
</div>


<div *ngIf="selectedProductType == 'SIMPLE'">
    <div formArraryName="productVariantDTO" *ngFor="let item of productVariantDTO.controls;let i = index">
            <product-variation [productVariation]="item"  ></product-variation>
     </div>
    <!-- <product-variation></product-variation> -->
</div>

<div *ngIf="selectedProductType == 'ADVANCE' && categoryAttribute.length > 0">
    <p>Select Category for Variation</p>
    <div class="chkBox" *ngFor="let item of categoryAttribute">
        <mat-checkbox  (change)="addvariation($event,item)">{{ item.attributeMaster.variationName }}</mat-checkbox>
    </div>

    <div class="container">
        <div class="row">
            <div *ngFor="let item of selectedVariation; let i = index;" class="col">
                <div class="header">
                    <h4>{{ 'Add ' + item?.attributeMaster?.variationName }}</h4>
                </div>
                <label for=""></label>
                <input #attr (change)="addVariation(attr,i)" [type]="item?.attributeMaster?.typeOfInput" name="" id="">
                <!-- <button (click)="addVariation(attr,i)">Add value</button> -->
                <div class="attribute">
                    <p *ngFor="let map of item?.allAttributeMap?.variationAttribute" class="attribute_map">{{ map }}
                        <button class="cancelBtn" (click)="removeAttribure(map,i)">
                                <i class="material-icons">
                                        cancel
                                        </i>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

